$color-active: #189ffb;
$color-white: #fff;
$color-black: #000;
$color-light-gray-1: #f3f5f8;
$color-light-gray-2: #eceef1;
$color-light-gray-3: #dddfe4;
$color-light-gray-4: #c9cbd2;
$color-gray: #7d808a;
$color-dark-gray-1: #53565f;
$color-dark-gray-2: #383a40;
$color-dark-gray-3: #2f3136;
$color-dark-gray-4: #24262a;
$color-dark-gray-5: #1e1f23;
$color-dark-gray-6: #111214;
$color-positive: #35c759;
$color-caution: #f48f00;
$color-negative: #da4d4d;
$color-active-blue: #189ffb;
$color-brand-blue-darkest: #3d39cd;
$color-brand-blue-darker: #4642e0;
$color-brand-blue: #4d49eb;
$color-brand-blue-light: #5254fb;
$color-brand-blue-lighter: #5c5efe;
$color-brand-blue-lightest: #686aff;
$color-secondary-purple: #8c61ff;
$color-secondary-blue: #36c3fe;
$color-secondary-green: #0c8;
$color-secondary-yellow: #ffeb00;
$color-secondary-orange: #ff8c4c;
$color-secondary-red: #ff5d60;
$color-secondary-pink: #ff8fb8;
