@import '../modules/all';
@import './animations';
@import './layout';
@import './typography';

:root {
  font-size: $base-font-size;
}

body,
button,
li,
span,
div {
  color: $color-light-gray-4;
  font-family: $font-stack;
}

select {
  color: $color-dark-gray-1;
  font-family: $font-stack;
}
