@import '../styles/partials/animations';
@import '../styles/partials/typography';

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    flex-basis: 100%;
    margin: 1rem 1rem 0;
    position: relative;
  }

  .loading-container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    .loading {
      @include animation-dots;

      display: block;
      width: 18rem;
    }

    .warning {
      @extend .warning;
    }
  }
}
